.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
  }

  body{
    background-color: black;
  }

  div{
    width:50%;
    margin-left:25%;
    margin-top:5%;
    text-align: center;
  }
  
  .centered-text{
    text-align: center;
  }

  h1{
    text-transform: uppercase;
  }

  img{
    border:5px solid white;
  }